	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/01/2021 12:01
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot%3F") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-promotion:before { content: "\f100"; }
.flaticon-protein-supplement:before { content: "\f101"; }
.flaticon-supplementary-food:before { content: "\f102"; }
.flaticon-menu:before { content: "\f103"; }
.flaticon-search:before { content: "\f104"; }
.flaticon-shopping-cart:before { content: "\f105"; }
.flaticon-vitamin:before { content: "\f106"; }
.flaticon-vitamin-1:before { content: "\f107"; }
.flaticon-supplements:before { content: "\f108"; }
.flaticon-vitamins:before { content: "\f109"; }
.flaticon-customer-service:before { content: "\f10a"; }